aenum==2.2.1
altair==4.0.0
analytics-python==1.2.9
argh==0.26.2
astor==0.8.1
attrs==22.2.0
audioread==2.1.8
backcall==0.2.0
base58==1.0.3
bcrypt==3.1.7
beautifulsoup4==4.9.1
blinker==1.4
boto3==1.26.3
botocore==1.29.3
certifi==2023.6.0
cffi==1.15.0
chardet==4.0.0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
Click==8.0.4
cloudpickle==2.0.0
cmake==3.24.0
colorama==0.4.6
comtypes==1.1.7
cryptography==38.0.1
cycler==0.11.0
decorator==5.1.0
docopt==0.6.2
docutils==0.15.2
entrypoints==0.4
enum-compat==0.0.3
fbchat==1.7.3
Flask>=2.0.0
Flask-Caching==1.8.0
Flask-WTF==1.0.0
future==0.18.3
gast==0.4.0
google-pasta==0.2.0
gradio==3.0.0
graphviz==0.19.1
gunicorn==20.1.0
gym==0.26.0
h5py==3.6.0
idna==3.4
imageio==2.19.3
importlib-metadata==4.8.3
imutils==0.5.4
ipython==8.6.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.0
jmespath==1.0.0
joblib==1.2.0
Js2Py==0.70
jsonschema==4.5.1
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.4
librosa==0.8.1
llvmlite==0.39.1
lxml==4.9.1
MarkupSafe==2.1.1
mathparse==0.1.2
matplotlib==3.7.1
mnist==0.2.2
more-itertools==8.13.0
MouseInfo==0.1.3
neat==0.4.1
networkx==2.8.8
nltk==3.7
numba==0.56.0
numpy==1.24.0
packaging==21.3
pandas==1.5.0
paramiko==2.9.2
parso==0.8.3
pathtools==0.1.2
pickleshare==0.7.5
Pillow==9.0.1
Pint==0.21.3
pipwin==0.5.0
prompt-toolkit==3.0.29
protobuf==3.20.1
psycopg2==2.9.3
PyGetWindow==0.0.8
pyglet==1.5.0
Pygments==2.14.0
pyjsparser==2.7.1
pymongo==3.12.1
PyMsgBox==1.0.8
PyNaCl==1.5.0
pyparsing==3.0.9
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.2
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.26
pySmartDL==1.3.3
PySocks==1.7.1
python-dateutil==2.8.2
python-speech-features==0.6
pyttsx3==2.90
PyTweening==1.0.3
pytz==2023.3
PyWavelets==1.0.3
pywin32==305
PyYAML==5.4.1
requests==2.28.0
requests-oauthlib==1.3.1
resampy==0.2.2
simplejson==3.18.0
six==1.16.0
SQLAlchemy==1.4.39
sqlparse==0.4.2
textblob==0.15.3
toml==0.10.2
toolz==0.11.2
tornado==6.2
traitlets==5.1.1
tweepy==4.12.1
tzlocal==4.2
ujson==5.0.0
urllib3==1.26.14
validators==0.18.2
virtualenv==20.16.3
watchdog==2.1.8
wcwidth==0.2.5
WebOb==1.8.5
Werkzeug==2.1.2
whitenoise==6.0.0
WTForms==3.0.1
zipp==3.11.0
